<?xml version="1.0" encoding="UTF-8"?>
<!--suppress XmlUnboundNsPrefix -->
<!--Logback official documentation:
        The syntax of logback configuration files is extremely flexible.
        As such, it is not possible to specify the allowed syntax with a DTD file or an XML schema.-->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>./logs/ReactomeIconSolrIndexer-${bySecond}.log</file>
        <append>true</append>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="parserLogger" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <!-- Setting up neo4j and sdn logging to ERROR -->
    <logger name="org.neo4j.ogm" level="ERROR" />
    <logger name="org.springframework" level="ERROR" />

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>